* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    background: #212F3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: center;
}
  
.myimage {
    max-width: 100%;
    max-height:100%;
}
  
.text {
    font-size: 20px;
    padding-left: 20px;
}

.text li {
    margin: 2rem 0;
}

.info {
    margin: 3rem 0;
    font-weight: lighter;
}

.Welcome {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    width: 650px;
}

.Welcome p {
    margin: 1rem 0;
}

.Question {
    align-items: center;
    justify-content: center;
    display: grid

}

.Question h1 {
    font-size: 30px;
    text-align: center;
}

.ans {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    width: 700px;
    padding-left: 300px;
    margin: 1rem 0;
}

.arm {
    max-width: 100%;
    max-height: 100%;
    padding-top: 1rem;
    padding-left: 25rem;
    padding-bottom: 2rem;
}

.contain {
    display: flex;
    justify-content: center;
}

.KMITL h1{
    font-size: 25px;
}

.reason p {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
}

nav a {
    margin: 0 3rem;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.contact li{
    list-style: none;
    margin: 1rem 0;
    width: 500px;
}

.LB {
    margin: 0 auto;

}

nav a:hover, nav a.active {
    color: aqua;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #566573;
    color: white;
}

section:nth-child(odd) {
    background: #2C3E50;
}

@media only screen and (max-width: 400px) {
    body {

        width: 90%;
        height: 90%;
    
    }
}

@media only screen and (max-width: 800px) {
    body {

        width: 90%;
        height: 90%;
    
    }
}